body {
    background-color: aliceblue;
}

.container-navbar {
    background-color: pink;
    width: 100%;
    height: 100px;
}

.ul-navbar {
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar {
border: 1px solid white;
list-style-type: none;
padding: 20px;
margin: 5px;
color: white;
}